In [1]:
print ("hello")

hello

In [1]:
pwd

'C:\\Users\\Safiya\\Downloads\\Anaconda Codes'

# Python Basics

# Variables

In [2]:
a=20
b=30
c=a+b

In [3]:
id(a)
#mem location of a

140729172306320

In [4]:
id(b)

140729172306640

In [5]:
id(c)

140729172307280

In [6]:
c=90

In [7]:
id(c)

140729172308560

- mem for c has changed. every value is considered as an object, so even though the nameis same, the value associated with them are stored in diff places. so prev value is not overwritten

In [8]:
print(a)
print(b)

20
30

In [9]:
print(a,b,c)

20 30 90

* format specifier - datatype of element, %d - integer, %f - float, %s - string

In [11]:
print("the value of a is %d, value of b is %d, value of c is %d" %(a,b,c))

the value of a is 20, value of b is 30, value of c is 90

In [13]:
print("the value of a is %f, value of b is %f, value of c is %f" %(a,b,c))

the value of a is 20.000000, value of b is 30.000000, value of c is 90.000000

* print using format

In [12]:
print("value of a is {}, value of b is {}, value of c is {}".format(a,b,c))

value of a is 20, value of b is 30, value of c is 90

* Variable with imaginary part is complex

In [14]:
d = 2+3j

* to find type of var

In [15]:
type(d)

complex

In [16]:
a= "hello"

In [17]:
type(a)

str

* taking user input

In [21]:
a = input("enter the value of a")
b = input("enter the value of b")

enter the value of a20
enter the value of b30

In [22]:
c = a+b
print(c)

2030

* input takes the type as str so it is concatenated, so we type cast it

In [23]:
a = int(input("enter the value of a"))
b = int(input("enter the value of b"))

enter the value of a20
enter the value of b30

In [24]:
c = a+b
print(c)

50

In [25]:
p = '1234'

In [26]:
q = int(p)
q

1234

In [27]:
s = float(q)
s

1234.0

# Datatypes

fundemental - 
    numbers - int, float, bool
    strings
    
collection -
    sequential - list, tuple
    non-sequential - dictionary, set

heterogeneous - formed with diff datatypes. 
homogeneous - formed with same datatypes.

string is a combination of characters so homogeneous

indexing - giving a number position to elements present in a datatype.

- positive indexing
    starts from beginning of the datatype and starts frm 0
    eg - "dye"
    d - 0, y-1, e-2
    
- negative indexing
    starts from the end of the datatype and starts frm -1
    eg - "dye"
    e =-1, y= -2, d = -3

In [28]:
string = "Welcome to the jungle"

In [30]:
string[6]

'e'

In [31]:
string[-3]

'g'

Slicing - abruptly cutting 

startpoint= [7:]
endpoint= [:9]
starttoend= [10:20]

In [32]:
string[:4]

'Welc'

4th letter is not shown cuz starts frm 0

In [33]:
string[4:]

'ome to the jungle'

Mutable - able to update or change the content of data
Immutable - not able to update the content of data

* dir(variableName) - gives the available string functions for a variable

In [1]:
string2 = "hi there guys"

In [2]:
dir(string2)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

* to write a function - variablename.functionname(arguments)

In [3]:
string2.capitalize() #capatalize first letter

'Hi there guys'

In [4]:
string2.casefold() # converts all lower case to upper case

'hi there guys'

In [5]:
string2.center(40)

'             hi there guys              '

* string with 40 char is created and in tht string2 is aligned in the center.

In [7]:
string2.center(40,"*")

'*************hi there guys**************'

In [8]:
string2.count("e") #count of letter in string

2

In [9]:
string2.endswith("y") #if string ends with this char

False

In [10]:
string2.endswith("s")

True

In [11]:
string2.endswith("ys")

True

In [14]:
string2.split() #splits into seperate at spaces(default) and creates list of words

['hi', 'there', 'guys']

In [13]:
string2.split("e")

['hi th', 'r', ' guys']

* Comprehensive functionality - possible only for lists

In [18]:
list = [1,2,"lila", "food",23.4, 2+3j]

In [19]:
list[3]

'food'

In [20]:
list[2:5]

['lila', 'food', 23.4]

In [21]:
list[2:]

['lila', 'food', 23.4, (2+3j)]

In [22]:
list[2] = 25

In [23]:
list

[1, 2, 25, 'food', 23.4, (2+3j)]

In [24]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [25]:
list

[1, 2, 25, 'food', 23.4, (2+3j)]

In [26]:
list.append([1,2,3])

In [27]:
list

[1, 2, 25, 'food', 23.4, (2+3j), [1, 2, 3]]

* can append one item at a time

In [29]:
list.append(99)

In [30]:
list

[1, 2, 25, 'food', 23.4, (2+3j), [1, 2, 3], 99]

In [31]:

list2 = list.copy()

In [32]:
list2

[1, 2, 25, 'food', 23.4, (2+3j), [1, 2, 3], 99]

In [33]:
list.count(1)

1

In [34]:
list.count([1,2,3])

1

In [36]:
list.extend([7,53,24]) #adds all elements into the list as seperated elements
list

[1, 2, 25, 'food', 23.4, (2+3j), [1, 2, 3], 99, 7, 53, 24, 7, 53, 24]

Append - adds the element in arguments as a single entity

Extend adds the element in arguments as seperate entities

In [41]:
list.index([1,2,3]) #gives the index of the value in the arguments

6

In [43]:
list.insert(2, "smart")
list

[1,
 2,
 'smart',
 'smart',
 25,
 'food',
 23.4,
 (2+3j),
 [1, 2, 3],
 99,
 7,
 53,
 24,
 7,
 53,
 24]

In [45]:
list

[1,
 2,
 'smart',
 'smart',
 25,
 'food',
 23.4,
 (2+3j),
 [1, 2, 3],
 99,
 7,
 53,
 24,
 7,
 53,
 24]

In [44]:
list

[1,
 2,
 'smart',
 'smart',
 25,
 'food',
 23.4,
 (2+3j),
 [1, 2, 3],
 99,
 7,
 53,
 24,
 7,
 53,
 24]

In [46]:
list.pop()

24

In [47]:
list.remove("smart")#removes specified element once

In [48]:
list

[1, 2, 'smart', 25, 'food', 23.4, (2+3j), [1, 2, 3], 99, 7, 53, 24, 7, 53]

In [49]:
list.reverse()
list

[53, 7, 24, 53, 7, 99, [1, 2, 3], (2+3j), 23.4, 'food', 25, 'smart', 2, 1]

In [50]:
# list.sort()  only for numerical lists

In [53]:
arr = [1,5,3,7,6,8,23]
arr.sort()
arr

[1, 3, 5, 6, 7, 8, 23]

* Comprehensive technique - creating list with loop and conditions.

In [55]:
#Syntax = [itemtobeadded forloop condition]

com=[i for i in range(1000) if(i%2==0)]
print(com)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998]

Task : Create a list of employees with name, age, salary and designation, 
    then add qualifications of employee using list func
    change name from one name to another
    delete age

In [56]:
employee= [["John Smith", 23, 10000, "Manager"],["Milo", 35, 20000,"Accountant"],["Reena R", 25, 200000, "Engineer"]]
print(employee)

[['John Smith', 23, 10000, 'Manager'], ['Milo', 35, 20000, 'Accountant'], ['Reena R', 25, 200000, 'Engineer']]

In [57]:
employee= ["John Smith", 23, 10000, "Engineer"]
print(employee)

['John Smith', 23, 10000, 'Engineer']

In [58]:
employee.extend(["BTech EE", "MTech EE"])
print(employee)

['John Smith', 23, 10000, 'Engineer', 'BTech EE', 'MTech EE']

In [59]:
employee[0] = "Micheal Angelo"
employee

['Micheal Angelo', 23, 10000, 'Engineer', 'BTech EE', 'MTech EE']

In [63]:
employee = ['Micheal Angelo', 23, 10000, 'Engineer', 'BTech EE', 'MTech EE']

In [64]:
employee.remove(employee[1])
employee

['Micheal Angelo', 10000, 'Engineer', 'BTech EE', 'MTech EE']

In [65]:
#tuple is hetero, immutable

In [66]:
tup = (1,2,"hero")

In [67]:
tup[2]

'hero'

In [68]:
#not comprehensive

In [69]:
tup[:1]

(1,)

* dictionary does not have indexing and is unordered, it has key-value pairs

In [70]:
dict = {"name":"kara", "age":24, "study":"MTech"}

* dict[0] is not possible.

* can grab elements with keys.

In [71]:
dict["age"]

24

In [72]:
dict["name"] = "Sierra"
dict

{'name': 'Sierra', 'age': 24, 'study': 'MTech'}

* keys are immutable and values are mutable

* keys must be unique

In [73]:
dict = {'name': 'Sierra', 'age': 24, 'study': 'MTech', 'name': 'Fiona', "MTech":"3 yrs"}

In [74]:
dict

{'name': 'Fiona', 'age': 24, 'study': 'MTech', 'MTech': '3 yrs'}

* here 'name' is not repeated and the value is overwritten, but can put Mtech as a key.

In [78]:
dict2 = dict.copy()

In [79]:
dict2

{'name': 'Fiona', 'age': 24, 'study': 'MTech', 'MTech': '3 yrs'}

In [80]:
key = ("key1","key2","key3")
value = (23,53,47)
dict = dict.fromkeys(key,value)
dict

{'key1': (23, 53, 47), 'key2': (23, 53, 47), 'key3': (23, 53, 47)}

In [81]:
dict = dict.fromkeys(key)
dict

{'key1': None, 'key2': None, 'key3': None}

In [82]:
dict = {'name': 'Fiona', 'age': 24, 'study': 'MTech'}
dict

{'name': 'Fiona', 'age': 24, 'study': 'MTech'}

In [83]:
p = dict.get("name")

In [84]:
p

'Fiona'

In [85]:
x = dict.get("place", "DXB")

In [86]:
x

'DXB'

In [87]:
dict.items()

dict_items([('name', 'Fiona'), ('age', 24), ('study', 'MTech')])

In [88]:
dict.keys()

dict_keys(['name', 'age', 'study'])

In [89]:
dict.values()

dict_values(['Fiona', 24, 'MTech'])

In [90]:
dict.pop("name") #must specify the key, its like remove in list, doesnt remove last element

'Fiona'

In [91]:
dict

{'age': 24, 'study': 'MTech'}

In [92]:
dict.popitem() #removes last entered key-value pair

('study', 'MTech')

* Set is homogeneous and unordered. can be list of inters, strings, tuples or list.

In [94]:
people = {"iris","talia","ariana"}
vampy = {"sav", "riya","nathan"}
popu = people.union(vampy)
popu

{'ariana', 'iris', 'nathan', 'riya', 'sav', 'talia'}

In [95]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,8}
set3 = set1.intersection(set2)
set3

{3, 4, 5}

In [96]:
set2 = {3,4,5,6,7}
set3 = set1.difference(set2)
set3

{1, 2}

In [97]:
set3 = set2.difference(set1)
set3

{6, 7}

In [98]:
set = {1,2,3}
set.add(10)
set

{1, 2, 3, 10}

# Conditional Statements

1. if 
2. if-else
3. elif
4. nested
5. switch

1. Syntax = if (expression):
             statment
             
indentation - tab space - 6 spaces

In [1]:
a = int(input("Enter your marks : "))
print(a)
if (a>35):
    print("passed")

Enter your marks : 60
60
passed

2. Syntax = if (condition):
                statement
            else:
                statement
                
if and else in same indentation

In [2]:
a = int(input("Enter your marks : "))
print(a)
if (a>35):
    print("passed")
else :
    print("fail")

Enter your marks : 20
20
fail

3. elif for more conditons
  Syntax = if (condition):
                statement
            elif(condition):
                statment
            else:
                statement

In [4]:
a = int(input("Enter your marks : "))
print(a)
if (a>0 and a<35):
    print("failed")
elif(a>35 and a<65):
    print("third class")
elif(a>65 and a<75):
    print("second class")
elif(a>75 and a<85):
    print("first class")
elif(a>85 and a<100):
    print("Distinction")
else :
    print("Not Valid")

Enter your marks : -1
-1
Not Valid

4. Syntax = if (condition):
                statement
                if (condition):
                    statement
                else:
                    statement
            
            else:
                statement

In [7]:
a = int(input("Enter your marks : "))
print(a)
if (a>0 and a<35):
    print("failed")
elif(a>35 and a<65):
    print("third class")
elif(a>65 and a<75):
    print("second class")
elif(a>75 and a<85):
    print("first class")
elif(a>85 and a<100):
    print("Distinction")
    if(a==99):
        print("Well Done!")
else :
    print("Not Valid")

Enter your marks : 99
99
Distinction
Well Done!

5. Switch-case
works like dictionary
not like c++ switch case

In [8]:
days ={
    0:"sun",
    1:"mon",
    2:"tue",
    3:"wed",
    4:"thrus",
}
#these are the cases

print(days.get(0,'bad day'))

sun

In [9]:
print(days.get(20,'bad day')) #bad day is the default value

bad day

In [10]:
days

{0: 'sun', 1: 'mon', 2: 'tue', 3: 'wed', 4: 'thrus'}

Task: take three user inputs:
        two integer value
        one character like +,-,*,/,%
based on the character, print the arithmatics operation output

In [11]:
num1 = int(input("Enter the first number : "))
num2 = int(input("Enter the second number : "))
op = input("Enter the operation to perform : ")

if(op=='+'):
    ans = num1+num2
elif(op=='-'):
    ans = num1-num2
elif(op=='*'):
    ans = num1*num2
elif(op=='/'):
    ans = num1/num2
else:
    ans = num1%num2

print(num1,op,num2," = ", ans)

Enter the first number : 8
Enter the second number : 4
Enter the operation to perform : +
8 + 4  =  12

# Loops

In [13]:
for i in range (1,21):
    print(i, end = ",")

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,

In [14]:
string ="How dare you"
for i in string:
    print(i)

H
o
w

d
a
r
e

y
o
u

In [15]:
list=["mango", "chocolate","cake"]
for i in list:
    print(i)

mango
chocolate
cake

In [2]:
i = 0
while(i<=40):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40

Task : print even numbers from 0 to 40 with for and while loop

In [3]:
for i in range (0,40):
    if(i%2==0):
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [4]:
i = 0
while(i<=40):
    print(i)
    i=i+2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40

Break and Continue

Break - terminates the loop if condition is met
continue - actually skips some of the iterations in the loop and continues with next iteration

# Functions

Syntax def funcname():
           statments

In [6]:
def add(mark1, mark2):
    d = mark1+mark2
    print(d)
    
a=int(input("Enter mark 1 : "))
b=int(input("Enter mark 2 : "))
add(a,b)

Enter mark 1 : 30
Enter mark 2 : 50
80

In [8]:
def add(mark1, mark2):
    d = mark1+mark2
    f = mark1-mark2
    return d,f
    
a=int(input("Enter mark 1 : "))
b=int(input("Enter mark 2 : "))
p,q = add(a,b) # can return multiple values and assign them to multiple var
print(p,q)

Enter mark 1 : 64
Enter mark 2 : 35
(99, 29)

In [9]:
def add(mark1, mark2):
    d = mark1+mark2
    f = mark1-mark2
    return d,f
    
a=int(input("Enter mark 1 : "))
b=int(input("Enter mark 2 : "))
p= add(a,b) # if  multiple return values assigned to single var
print(p)

Enter mark 1 : 53
Enter mark 2 : 23
(76, 30)